ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

li.userLink {
	float: right;
	padding: 10px;
	color : white;
	font-size: x-large;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: calc(100% + 100px);
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: calc(100vh + 100px);
	background: repeating-conic-gradient(
		from 45deg at 15% 50%,  
		white 0deg 10deg,  
		#9b9b9b 10deg 20deg,  
		black 20deg 30deg
	);
	overflow-x: hidden;
}

div main-menu {
	margin: 0;
	padding: 0;
}

form {
	display: inline-block;
}

p {
	margin: 0;
	padding: 10px 10px 5px 10px;
}

#p-error {
	background-color: #9a9a9a;
	background-color: #b2b2b2;
	background-color: #cfcfcf;
	
	background-color: #ff8080;
}

#p-noError {
	background-color: #b3ffb3;
}

footer {
	margin-top: auto;
	height: 100px;
  	background-color: #222;
  	color: #fff;
  	position: relative;
  	bottom: 0;
  	width: 100%;
  	clear: both;
}