#canvas1 {
	background-color: rgba(118, 189, 187, 0.9);;
	border-width: 5;
}
#divmain {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-30%);
}
#myImages {
	position: absolute;
	top: 75%;
	left: 10%;
	min-width: 500px;
	min-heaight: 500px;
	max-width: 500px;
	max-height: 500px;
	overflow-x: scroll;
	overflow-y: scroll;
}
#myImages img{
	max-width: 200px;
	max-height: 100px;
	display: inline-block;
	padding: 10px;
}
#divButtons {
	position: absolute;
	top: 20%;
	left: 10%;
	height: 50%;
	overflow-y: scroll;
}