@charset "UTF-8";

img {
	max-width: 100px;
}

#wdetails-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#tableDetails {
	table-layout: fixed;
	background-color: rgba(118, 189, 187, 0.9);
	padding: 20px 10px;
}

#tableDetails > td, th {
	padding: 10px;
	text-align: center;
}
#tableDetails > th {
	vertical-align: bottom;
}
.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}